<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="../../public/css/style.css">
    <style>
        .head {
            color: rgb(0, 195, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 900;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 4rem;
            text-transform: capitalize;
            letter-spacing: 3px;
        }

        .head>span {
            color: blue;
            margin-left: 1rem;
        }

        .card {
            height: 22rem;
            width: border-radius: 15px;
            27rem;
            border: 3px solid burlywood;
            display: flex;
            justify-items: center;
            align-items: center;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 3rem;
        }

        .empty {
            height: 3px;
            width: 100%;
            background-color: red;
            border: 1px solid black;
        }

        .color-Back {
            background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(27, 28, 204) 100%);
            margin: 2rem;
            border-radius: 11px;
            font-weight: 900;
            color: white;
        }

        .details {
            margin: 1rem;
            text-transform: capitalize;
            font-weight: bold;
            width: 24rem;
        }

        .head-1 {
            font-size: 3rem;
            font-weight: bold;
            display: flex;
            justify-content: center;
            padding-top: 22px;
        }

        .para {
            width: 84%;
            hight: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3rem 0 0 7rem;
        }
    </style>
</head>

<body>
    {{>navbar}}

    <h2 class="head"> Wellcom to byteCom<span> web Soluation </span></h2>
    <div class="container">
        <div class="card" style="background-color:pink;">
            <div class="color-Back">
                <h2 class="head-1">Web Cam</h2>
                <h4 class="head-2">Search for Quelity not for quentity</h4>
            </div>
            <p class="details">A webcam is a video camera which is designed to record or stream to a computer or
                computer network. They are primarily used in videotelephony, livestreaming and social media, and
                security.</p>
        </div>
    </div>
    </div>
    </div>
    <div class="para">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quos tempore neque reiciendis officiis
            esse omnis dolores facere ipsa iure rem nulla, quisquam ut praesentium. Neque id odit, dolorum laborum rerum
            esse at vel ipsa reiciendis unde commodi cumque blanditiis in alias, maxime omnis voluptatibus </p>
    </div>
</body>

</html>